<!-- <ul>
  <li ng-repeat="item in list.items">
  </li>
</ul> -->
<table border="1" ng-if="list.items.length>0">
  <tr>
    <td>Name</td>
    <td>Short_Name</td>
    <td>description</td>
  </tr>
  <tr ng-repeat=" item in list.items">
    <td>{{item.name}}</td>
    <td>{{item.short_name}}</td>
    <td>{{item.description}}</td>
    <td><button ng-click="list.onRemove({index: $index});">Don't want this one!</button></td>
  </tr>
</table>
<div class=error ng-if="list.items.length==0">
  <p>Nothing found</p>
</div>